numpy==1.23.5
pymongo
pandas==1.1.5
sqlalchemy
apache-airflow
ciso8601
kubernetes<24,>=21.7.0
scikit-learn==1.2.0
imbalanced-learn
apache-airflow-providers-cncf-kubernetes
psycopg2-binary
flask
pyts==0.12.0
numba==0.56.4
scipy==1.10.0
MLB-StatsAPI